<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:counter_withdrawal) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_admin_counter_withdrawal), new_object_url, :icon => 'icon-plus', :id => 'new_admin_counter_withdrawal_link' %>
  </li>
<% end %>

<% unless @counter_withdrawal.any? %>
  <div class="no-objects-found"><%= t(:no_counter_withdrawal_defined)%></div>
<% else %>
  <table class="index" id="counter_withdrawals_listing">
    <colgroup>
      <col style="width: 60%">
      <col style="width: 17%">
      <col style="width: 23%">

    </colgroup> 
    
    <thead data-hook="admin_counter_withdrawals_index_headers">
      <th><%= t(:description) %></th>
      <th><%= t(:state) %></th>
      <th><%= t(:phone) %></th>
      <th data-hook="admin_counter_withdrawals_index_header_actions" class="actions"></th>
    </thead>
    <tbody class="align-center">
      <% @counter_withdrawal.each do |method|%>
        <tr id="<%= spree_dom_id method %>" data-hook="admin_counter_withdrawals_index_rows" class="<%= cycle('odd', 'even')%>">
          <td><%= method.description %></td>
          <td><%= method.state.name %></td>
          <td><%= method.phone %></td>
          <td data-hook="admin_counter_withdrawals_index_row_actions" class="actions">
            <%= link_to_edit method, :no_text => true%>
            <%= link_to_delete method, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end%>