<div id='filter-variants'>         
    <div id="product-variants">
      <h2><%= t('variants') %></h2>
      <% index = 0 %>
      <% @product.grouped_option_values.each do |type, values| %>
        <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
          <h6 class="variant-option-type"><%= type.presentation %></h6>
          <%= select( "payment", "id", values.map {|u| [u.presentation,u.name]}, {:include_blank=> "Todos"}) %>
        </div>
        <% index += 1 %>
      <% end %>
      <ul class="variations-ul">
        <% has_checked = false
        @product.variants.active(current_currency).each_with_index do |v,index|
          next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
          checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
          has_checked = true if checked 
          classes = ""
          v.option_values.each do |opt|
            classes += " class_"+opt.name
          end
          %>
          <li class="variant-option <%= classes %>">
            <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders], 'data-price' => v.price_in(current_currency).display_price %>
            <label for="<%= ['products', @product.id, v.id].join('_') %>">
              <span class="variant-description">
                <%= variant_options v %>
              </span>
              <% if variant_price v %>
                <span class="price diff"><%= variant_price v %></span>
              <% end %>
            </label>
          </li>
        <% end %>
      </ul>  
      
    </div>
</div>
<script type="text/javascript">
  var total_filters = <%= index %>;
  $('#product-variants select').change(function(){
    var selecteds_class = [];
    for(var i = 0; i <= total_filters-1; i++)
    {
      var sel = $('.index-'+i+' select').val();
      if(sel != ""){
        selecteds_class.push('.class_'+sel);
      }
    }
    if (selecteds_class.length>0) {
      $('.variations-ul li').hide();
      $(selecteds_class.join("")).each(function (i,element) {
        $(element).show();
      });
    } else {
      $('.variations-ul li').show();      
    }
  });
</script>